#------------------------------------------------------------------------------
#
# @brief      Git ignore file for 'warehouse'
#
# @author     Maximilian Seesslen <dev@seesslen.net>
#
#------------------------------------------------------------------------------


build
books.pro.user.*
CMakeLists.txt.*


#--- Fin ----------------------------------------------------------------------
